@import "mixins";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Commissioner', sans-serif;
  
  
}
body{
  background-color: whitesmoke;
  
}
p{
  font-size: 16px;
  line-height: 1.7rem;
  font-weight: 100;
  color: #7a7a7a;

  
}

h1{
  font-size: 2.8em;
}
h2{
  font-size: 32px;
  font-weight: 700;
  @include laptop{
    font-size: 1.3rem;
  }
}
h3{
  font-size: 24px;
  font-weight: 700;
}

h4{
  font-size: 26px;
  font-weight: 400;

}

h6{
  font-size: 17px;
  font-weight: 100;
  @include laptop{
    font-size: 1rem;
  }

}



header{

  background: url(../images/image-hero-desktop.jpg) no-repeat center;
  background-size: cover;
  height: 30vh;
  color: #fff;
  
  width: 100%;
  margin: 0;
  padding: 0;

  @include tablet {
    height: 400px;
    position: relative;
    
  }

  @include mobile {
    background: url(../images/image-hero-mobile.jpg) no-repeat;
    
    margin: 0;
    padding: 0;

    height: 400px;
  }
  @include medium-mobile{
    width: 100%;
    margin: 0;
    height: 400px;
    

  }

  nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 5vh;
    

    #logo, ul {
      
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1% 3%;
      cursor: pointer;
    }

    #logo{
      font-size: 2.7rem;
      float: left;
      font-weight: 900;
      @include tablet{
        font-size: 2rem;
      }
      @include mobile{
        font-size: 1.5rem;
      }

      

     
    }

    a{
      color: hsl(0,0%,100%);
      text-decoration: none;

      &:hover{
        color: hsl(0,0%,70%);
      }
    }

    ul {
      list-style: none;
      width: 100%;
      justify-content: flex-end;
      margin-top: 5px;

      @include tablet{
        justify-content: space-around;
      }

      @include mobile{
        display: none;
      }

     li{
        margin: 5px;
        font-weight: 700;
        font-size: 1.4rem;

        @include laptop{
          font-size: 1.1rem;
        }

      
        

      }
      
    }

  }

}
// starrt of the info section 
.info-board{
  
  width: 70vw;
  max-width: 1300px;
  margin: auto;
  bottom: 100px;
  position: relative;

  display: grid;
  grid-template-columns: auto;
  grid-gap: 2%;

  @include tablet {
    width: 90vw;
  }
  @include mobile{
    width: 100vw;
    margin: 0;
    padding: 0;
  }


  


  .tab{
    border: 1px solid hsla(0, 0%, 48%, 0.5);
    border-radius: 5px;

  }


  div {
    width: 100%;
    height: auto;
    background-color: #fff;
  

    display: flex;
    flex-direction: column;
    align-items: center;

    // @include tablet{
    //   margin: 0;
    //   padding: 0;
    // }

  }
  // section for the subcribe or fund me buttons
  .subscribe{
    display: flex;
    padding: 5%;
    height: 250px;
    position: relative;
    
    @include mobile{
    
      height: 300px;
        
    }
    


    #master-logo{
      position: absolute;
      top: -30px;
      height: 70px;

      @include laptop{
        height: 56px;
      }
     
           
    }
    h2 {
      padding: 2%;
    }



    .button-field{
      border: none;
      width: 80%;
      height: 50%;
      margin: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include mobile{
        flex-direction: column;
        margin: 15px;

      }

      


      

      button{
        height: 58px;
        width: 200px;
        padding: 5px 30px;
        
        border: none;
        cursor: pointer;
        border-radius: 40px;
        color:#fff;
        font-size: 0.975rem;

        @include tablet{
          height: 50px;
          width: 180px;
        }

      }

      .back-it .bookmark {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .back-it{
        background-color: hsl(176, 50%, 47%);
        transition: background-color 400ms 200ms;
        
        &:hover{
          background-color: hsl(176, 72%, 28%);
        }
      }
      .bookmark{
          color: hsl(0, 0%, 48%);
          position: relative;
          text-align: right;

          
          

          img {
            position: absolute;
            left: 1px;
            top: -4px;
            
            height: 65px;
            width: 68px;

            @include tablet{
              height: 56px;
              width: 56px;
          
            }
          }
      }

      }
          
      }

      // section where the total backers are shown
      .number-board{
        height: 250px;

        @include mobile{
          height: 300px;
        }

        .values{
              width: 85%;
              height: 50%;
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;

              @include laptop{
                width: 100%;
              }

              @include mobile {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
                margin: 0;
                width: 30%;

              }
              
              



              div{
                border: none;
                display: flex;
                align-items: flex-start;
                padding: 2em;
                justify-content: center;
                border-left: 1px solid hsla(0, 0%, 48%, 0.5);
                
                &:first-child{
                  border: none;
                  @include mobile{
                    border-bottom: 1px solid hsla(0, 0%, 48%, 0.5);
                    padding: 0;
                    
                  }
                }

                @include mobile {
                  padding: 0 2%;
                  justify-content: center;
                  align-items: center;
                  border-left: none;
                  border-bottom: 1px solid hsla(0, 0%, 48%, 0.5);
                  padding: 0;
                }
                  
                
                h4{
                  font-size: 2.25rem;
                  font-weight: bold;
                  padding: 3% 0;

                  @include laptop{
                    font-size: 2rem;
                  }
                  
                }

                h6{
                  font-size: auto;

                  @include laptop{
                    font-size: 0.8rem;
                  }
                }
              }
        }

        .progress-bar{
          width: 85%;
          height: 20px;
          display: flex;
          position: relative;
          top: 15%;
          border-radius: 15px;
          background-color: lightgrey;

          &::before{
            content: '';
            width: 75%;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            border-radius: 15px;
            background-color: hsl(176, 50%, 47%);
          }
          @include mobile {
            top: 30%;
            margin: 0;
            

          }

        }

       
      }

      .inform-section{
        padding: 5%;
        display: flex;
        align-items: flex-start;
        
        
        

        p  {
          padding: 1%;
          font-size: 0.9rem;
          line-height: 1.7rem;
          font-weight: 400;
          margin-bottom: 1.7em;
          
          
          
        }

        h3{
          padding: 3% 1%;
        }
        

        

        .donation{
          height: 300px;
          margin: 10px 0px;

         

            div{
              
              position: relative;
              display: flex;
              flex-direction: row;
            }

            h4{
              font-size: 1.3rem; 

              @include mobile{
                font-size: 0.8rem;
              }
             
            }

            h6{
              color: hsl(176, 50%, 47%);
              font-weight: 500;
              @include mobile{
                font-size: 0.7rem;
              }
            }

            &--top{
              height: 20%;
              width: 80%;
              display: flex;
              justify-content: space-between;
              padding: 2%;

              @include tablet{
                padding: 0.5rem;
                width: 90%;
                
            
              }

             
            }
            &--middle{
              height: 50%;
              width: 80%;

              @include tablet{
                width: 90%;
            
              }

              p{
                font-size: 1.3rem;
                padding: 0.5rem;
                line-height: 2rem;
                color: #000;

                @include laptop{
                  font-size: 1rem;
                }
                @include tablet{
                  padding: 0;
                  font-size: 0.925;
              
                }
                @include mobile{
                  font-size: 0.7rem;
                }

              }
            }
            &--bottom{
              height: 30%;
              width: 80%;
              display: flex;
              justify-content: space-between;
              padding: 2%;

              span{
                font-size: 0.875rem;
                color: #7a7a7a;
              }

              button{
                height: 50px;
                width: 30%;
                padding: 5px 30px;
        
                border: none;
                cursor: pointer;
                border-radius: 40px;
                
                font-size: 1.025rem;
                color:#fff;
                
                @include tablet{
                  font-size: 0.7rem;
              
                }

                @include mobile{
                  font-size: 0.5rem;
                  text-align: center;
                  width: 40%;
                }

              }
              .reward{
                background-color: hsl(176, 50%, 47%);
                transition: background-color 400ms 200ms;
              &:hover{
                background-color: hsl(176, 72%, 28%);
              }
                
              }
              .reward-finished{
                background-color:hsla(0, 0%, 48%, 0.7);
              }
            
            }




          

          



        }
      }

    }

    


    
  





