*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Commissioner', sans-serif;
  
}


h2{
  font-size: 32px;
  font-weight: 700;

}

h4{
  font-size: 26px;
  font-weight: 400;

}

h6{
  font-size: 17px;
  font-weight: 100;

}



header{

  background: url(../images/image-hero-desktop.jpg) no-repeat center;
  background-size: cover;
  height: 30vh;
  color: #fff;

  nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 5vh;
    

    #logo, ul {
      
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1% 3%;
      cursor: pointer;
    }

    #logo{
      font-size: 3rem;
      float: left;
      font-weight: 900;
    }

    a{
      color: hsl(0,0%,100%);
      text-decoration: none;

      &:hover{
        color: hsl(0,0%,70%);
      }
    }

    ul {
      list-style: none;
      width: 100%;
      justify-content: flex-end;

     li{
        margin: 5px;
        font-weight: 700;
        font-size: 1.4rem;

      
        

      }
      
    }

  }

}

.info-board{
  
  width: 70vw;
  
  margin: auto;
  bottom: 100px;
  position: relative;

  display: grid;
  grid-template-columns: auto;
  grid-gap: 3%;


  .tab{
    border: 1px solid hsla(0, 0%, 48%, 0.5);

  }


  div {
    width: 100%;
    height: auto;
    background-color: #fff;
  

    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .subscribe{
    display: flex;
    padding: 5%;
    height: 300px;
    position: relative;

    #master-logo{
      position: absolute;
      top: -30px;
      height: 70px;
           
    }



    .button-field{
      border: none;
      width: 80%;
      height: 50%;
      margin: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      

      button{
        height: 80px;
        width: 40%;
        padding: 5px 30px;
        
        border: none;
        cursor: pointer;
        border-radius: 40px;
        color:#fff;
        font-size: 1.2rem;
      }

      .back-it .bookmark {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .back-it{
        background-color: hsl(176, 50%, 47%);
        
        &:hover{
          background-color: hsl(176, 72%, 28%);
        }
      }
      .bookmark{
          color: hsl(0, 0%, 48%);
          position: relative;

          img {
            position: absolute;
            left: 0;
            top: 0;
            height: 80px;
          }
      }

      }
          
      }


      .number-board{
        height: 250px;

        .values{
              width: 70%;
              height: 50%;
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              
              



              div{
                border: none;
                display: flex;
                align-items: flex-start;
                padding: 2em;
                justify-content: center;
                border-left: 1px solid hsla(0, 0%, 48%, 0.5);
                
                &:first-child{
                  border: none;

                }
                  
                
                h4{
                  font-size: 2.5rem;
                  font-weight: bold;
                }
              }
        }

        .progress-bar{
          width: 85%;
          height: 20px;
          display: flex;
          position: relative;
          top: 15%;
          border-radius: 15px;
          background-color: lightgrey;

          &::before{
            content: '';
            width: 75%;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            border-radius: 15px;
            background-color: hsl(176, 50%, 47%);
          }
         

        }

       
      }

      

    }

    


    
  





