*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  // background-color: hsl(0, 0%, 48%);
}
header{
  background-image: url(../images/image-hero-desktop.jpg);
  height: 30vh;
  color: #fff;

  nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 5vh;
    

    #logo, ul {
      font-size: 1.5rem;
      position: relative;
      
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1% 3%;
      cursor: pointer;


    }

    #logo{
      float: left;
    }

    a{
      color: #fff;
      text-decoration: none;
    }

    ul {
      list-style: none;
      
      width: 100%;
      justify-content: flex-end;
      
      
      
      
      


     li{
        margin: 5px;
        

      }
      
    }


  }

  



}